.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);}

.search-form{
  min-height: 10vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  border-radius: 25px;
  width: 30%;
  border:none;
  padding: 10px;
}

.search-button{
  background: lightgray;
  border: none;
  padding: 10px 10px;
  color: white;
}

.person{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

body {
  font-family: 'Baloo Paaji 2', sans-serif
}

/* 
label {
  position: relative;
}

label:before {
  opacity: .4;
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
} */