.person {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(83, 94, 170);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background: whitesmoke;
    align-items: center;
    min-width: 30%;
    padding: 20px;
}

h1 {
    color: #202124;
}

p {
    margin: 8px 8px;
}

.photo {
    font-size: 0;
    box-shadow: 0px 5px 20px rgb(182, 182, 182);
}

.location {
    border: 1px solid #ccc!important;
    border-radius: 16px;
    padding: 0.01em 16px;
}

.origininfo {
    position: relative;
    top: -10px;
}

.flag {
    position: relative !important;
    left: 0% !important;
    margin-left: -32px !important;
    margin-top: -15px !important;
}