.location {
    border: 1px solid #ccc!important;
    border-radius: 16px;
    padding: 0.01em 16px;
    width: 70%;
}

.origininfo {
    position: relative;
    top: -10px;
}

.flag {
    position: relative !important;
    left: 0% !important;
    margin-left: -32px !important;
    margin-top: -15px !important;
}